.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: $primary-color;
}

.navbar .container-fluid {
  min-height: 50px;
  display: flex;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav__current-title {
  padding-left: 1.5em;
}



@media screen and (min-width:600px) and (max-width:767px) {
  .navbar .container-fluid {
    min-height: 70px;
  }

  .nav__current-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .navbar .container-fluid {
    min-height: 70px;
  }

  .nav__current-title {
    font-size: 2rem;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .navbar .container-fluid {
    min-height: 90px;
  }

  .nav__current-title {
    font-size: 2.2rem;
  }
}

@media screen and (min-width:1200px) {
  .navbar .container-fluid {
    min-height: 90px;
  }

  .nav__current-title {
    font-size: 3rem;
  }
}
